<h1>Show Link</h1>

<ul>

  <li>
    <strong>Target:</strong>
    <%= link @link.target, to: @link.target %>
  </li>

  <li>
    <strong>Short:</strong>
    <%=
      link Routes.shortened_url(@conn, :show, @link.short),
      to: Routes.shortened_url(@conn, :show, @link.short)
    %>
  </li>

</ul>

<span><%= link "Back", to: Routes.link_path(@conn, :index) %></span>
