<div class="col">
  <section class="jumbotron text-center bg-white">
    <h1 class="jumbotron-heading mb-5">Welcome to Shortage!</h1>
    <p class="lead text-muted">
      <%= link 'Shorten a link', to: Routes.link_path(@conn, :new), class: 'btn btn-success' %>
    </p>
  </section>
</div>
